<div th:fragment="addChildInQueue" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#"
          th:action="@{/childInQueue/add}"
          th:object="${childInQueue}"
          method="post">
        <label for="surname">Прізвище</label>
        <input type="text" th:field="*{surname}" id="surname" placeholder="Прізвище">
        <label for="name">Імя дитини</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Імя дитини">
        <label for="dateOfBirth">Дата народження</label>
        <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="Дата народження">
        <input type="submit" value="Додати дитину">
    </form>
</div>