<div th:fragment="addEducator" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#"
          th:action="@{/educator-in-group/add}"
          th:object="${educatorInGroup}"
          method="post">
        <label for="name">Ім'я</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Ім'я">
        <label for="surname">Прізвище</label>
        <input type="text" th:field="*{surname}" id="surname" placeholder="Прізвище">
        <label for="category">Категорія</label>
        <input type="text" th:field="*{category}" id="category" placeholder="Категорія">
        <input type="submit" value="Додати">
    </form>
</div>
