<div th:fragment="childInAGroupList" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:switch="${childInAGroupList}">
        <h2 th:case="null">No any group.</h2>
        <div th:case="*">

    <table>
        <thead>
        <tr>

            <th>Імя</th>
            <th>Прізвище </th>
            <th>Дата народження</th>
        </tr>
        </thead>
        <tbody>
<!--<tr th:each="child : ${childInAGroupList}"> по суті це таж фигня що і форІч-->
        <tr th:each="child : ${childInAGroupList}">
            <td th:text="${child.name}"></td>
            <td th:text="${child.surname}"></td>
            <td th:text="${child.dateOfBirdth}"></td>
            <td><a th:href="@{/childInAGroup/delete/{id}(id=${child.id})}">Видалити Дитину</a></td>
        </tr>

        </tbody>
    </table>
        </div>
    </div>
    <p>
        <a href="/childInAGroup/add-childInAGroup"> Add a new child
        </a>
    </p>
</div>