<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Reports</title>
</head>
<body>
<header>
    <nav class="dws-menu">
        <ul>
            <li><a href="#">Число</a>
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">11</a></li>
                    <li><a href="#">12</a></li>
                    <li><a href="#">13</a></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">16</a></li>
                    <li><a href="#">17</a></li>
                    <li><a href="#">18</a></li>
                    <li><a href="#">19</a></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#">21</a></li>
                    <li><a href="#">22</a></li>
                    <li><a href="#">23</a></li>
                    <li><a href="#">24</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">26</a></li>
                    <li><a href="#">27</a></li>
                    <li><a href="#">28</a></li>
                    <li><a href="#">29</a></li>
                    <li><a href="#">30</a></li>
                    <li><a href="#">31</a></li>
                </ul>
            </li>
            <li><a href="#">Місяць</a>
            <ul>
                <li><a href="#">Січень</a></li>
                <li><a href="#">Лютий</a></li>
                <li><a href="#">Березень</a></li>
                <li><a href="#">Квітень</a></li>
                <li><a href="#">Травень</a></li>
                <li><a href="#">Червень</a></li>
                <li><a href="#">Липень</a></li>
                <li><a href="#">Серпень</a></li>
                <li><a href="#">Вересень</a></li>
                <li><a href="#">Жовтень</a></li>
                <li><a href="#">Листопад</a></li>
                <li><a href="#">Грудень</a></li>
            </ul>
            </li>
            <li><a href="#">Рік</a>
             <ul>
            <li><a href="#">2021</a></li>
            <li><a href="#">2022</a></li>
            <li><a href="#">2023</a></li>
            <li><a href="#">2024</a></li>
            <li><a href="#">2025</a></li>
            <li><a href="#">2026</a></li>
            <li><a href="#">2027</a></li>
            <li><a href="#">2028</a></li>
            <li><a href="#">2029</a></li>
            <li><a href="#">2030</a></li>
        </ul>
            </li>
            <li><a href="#">Обрати</a></li>
        </ul>
    </nav>

</header>
<table>
    <tr>

        <td><strong>Номер</strong></td>
        <td><strong>Прізвище Ім'я</strong></td>
        <td colspan="2"><strong>Присутність</strong></td>

    </tr>
    <tr>
        <td colspan="2"></td>
        <td><strong>Є</strong></td>
        <td><strong>Немає</strong></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2"><strong>Всього</strong></td>
        <td></td>
        <td></td>
    </tr>
</table>
<a href="" class="floating-button">Відправити</a>

</body>
</html>