<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <style>
        а:link {color:175E4D}
        a:hover {color:black}
    </style>
    <style>
        table.text  {
    width:  100%;
    border-spacing: 0;
   }
   table.text td {
   text-align: center;
    width: 33%;
    vertical-align: top;
   }
    td.rightcol {
    text-align: center;
   }
   td.centercol { text-align: center; }
    </style>
</head>
<body style="background-color:#ceefe4">
<br>

<table class="text">
    <tr>
        <td>
            <p> <a href=""><h3>Правила публікацій та розсилок</h3></a> </p>
        </td>
        <td class="centercol"><a href=""> <h3>Правила та умови користування сайтом</h3> </a>

        </td>
        <td class="rightcol"><a href=""> <h3>Політика конфіденційності</h3> </a>

            <Br>
        </td>
    </tr>
</table>
</body>
</html>