
<div th:fragment="kidInfoNotParentTwo" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- цей файл писав Вова-->
    <!--    <table>-->

    <!--        <tr>-->
    <!--            <th>Імя</th>-->
    <!--            <th>Прізвище</th>-->
    <!--            <th>По-батькові</th>-->

    <!--        </tr>-->

    Данні про дитину <br><br>
    <!--        <tr th:each="kid : ${attributeKidList}">-->
    Прізвище :          <td th:text="${child.surname}"></td> <br>
    Імя :               <td th:text="${child.name}"></td> <br>
    По батькові :       <td th:text="${child.fatherName}"></td> <br>
    Дата народження :   <td th:text="${child.birthDate}"></td> <br>
    Домашня адреса :    <td th:text="${child.address.city}"></td>
    <td th:text="${child.address.street}"></td>
    <td th:text="${child.address.buildingNumber}"></td>
    <td th:text="${child.address.apartment}"></td><br>
    Група :             <td th:text="${cluster}"></td> <br>
    Наявність Пільг :   <td th:text="${child.benefits}"></td> <br>

    <br><br>
    Інформація про батьків<br>
    ______________________<br><br>
    Перший з батьків <br><br>
    Прізвище :          <td th:text="${child.userParentOne.surname}"></td> <br>
    Імя :               <td th:text="${child.userParentOne.name}"></td> <br>
    По батькові :       <td th:text="${child.userParentOne.fatherName}"></td> <br>
    Дата народження :   <td th:text="${child.userParentOne.birthDate}"></td><br>
    Домашня адреса :    <td th:text="${child.userParentOne.address.city}"></td>
    <td th:text="${child.userParentOne.address.street}"></td>
    <td th:text="${child.userParentOne.address.buildingNumber}"></td>
    <td th:text="${child.userParentOne.address.apartment}"></td> <br>
    Номер телефонну :   <td th:text="${child.userParentOne.phone}"></td> <br>
    <br>


    <!--    Другий з батьків <br><br>-->
<!--    Прізвище :          <td th:text="${child.userParentTwo.surname}"></td> <br>-->
<!--    Імя :               <td th:text="${child.userParentTwo.name}"></td> <br>-->
<!--    По батькові :       <td th:text="${child.userParentTwo.fatherName}"></td> <br>-->
<!--    Дата народження :   <td th:text="${child.userParentTwo.birthDate}"></td> <br>-->
<!--    Домашня адреса :    <td th:text="${child.userParentTwo.address.city}"></td>-->
<!--    <td th:text="${child.userParentTwo.address.street}"></td>-->
<!--    <td th:text="${child.userParentTwo.address.buildingNumber}"></td>-->
<!--    <td th:text="${child.userParentTwo.address.apartment}"></td><br>-->
<!--    Номер телефонну :   <td th:text="${child.userParentTwo.phone}"></td> <br>-->



    <!--            <td th:text="${surname}"></td>-->
    <!--            <td th:text="${fatherName}"></td>-->

    <!--        </tr>-->

    <!--    </table>-->



</div>