
<div th:fragment="listKind" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- цей файл писав Вова-->
            <table>

                <tr>
                    <th>Імя</th>
                    <th>Прізвище</th>
                    <th>По-батькові</th>
                    <th>Група</th>
                    <th>Дата реестрації</th>
                    <th>Статус</th>

                </tr>


                <tr th:each="kid : ${attributeKidList}">



                    <td th:text="${kid.name}"></td>
                    <td th:text="${kid.surname}"></td>
                    <td th:text="${kid.fatherName}"></td>
                    <td th:text="${kid.cluster.name}"></td>
                    <td th:text="${kid.registerToGardenDate}"></td>
                    <td th:text="${kid.status}"></td>

                </tr>


            </table>




    </div>