<div th:fragment="registrationToKindergarten">
    <div>
        <form action="">
            <div>
                <label for="surname">Прізвище:</label>
                <input type="text" id="surname" name="surname">
            </div>
            <div>
                <label for="name">Ім'я:</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="father_name">По-батькові:</label>
                <input type="text" id="father_name" name="father_name">
            </div>
            <div>
                <label for="birth_date">Дата народження:</label>
                <input type="text" id="birth_date" name="birth_date">
            </div>
            <div>
                <label for="gender">Стать:</label>
                <input type="text" id="gender" name="gender">
            </div>
            <div>
                <label for="birth_document">Свідотство про народження:</label>
                <input type="text" id="birth_document" name="birth_document">
            </div>
            <div>
                <label for="region">Адреса (область):</label>
                <input type="text" id="region" name="region">
            </div>
            <div>
                <label for="city">Адреса (місто, село, селище):</label>
                <input type="text" id="city" name="city">
            </div>
            <div>
                <label for="street">Адреса (вулиця):</label>
                <input type="text" id="street" name="street">
            </div>
            <div>
                <label for="building_number">Адреса (будинок):</label>
                <input type="text" id="building_number" name="building_number">
            </div>
            <div>
                <label for="apartment">Адреса (квартира):</label>
                <input type="text" id="apartment" name="apartment">
            </div>
            <div>
                <label for="parent_surname">Батько (прізвище):</label>
                <input type="text" id="parent_surname" name="parent_surname">
            </div>
            <div>
                <label for="parent_name">Батько (ім'я):</label>
                <input type="text" id="parent_name" name="parent_name">
            </div>
            <div>
                <label for="parent_father_name">Батько (по-батькові):</label>
                <input type="text" id="parent_father_name" name="parent_father_name">
            </div>
            <div>
                <label for="parent_birth_date">Батько (дата народження):</label>
                <input type="text" id="parent_birth_date" name="parent_birth_date">
            </div>
            <div>
                <label for="parent_phone">Батько (телефон):</label>
                <input type="text" id="parent_phone" name="parent_phone">
            </div>
            <div>
                <label for="parent_mail">Батько (електронна пошта):</label>
                <input type="text" id="parent_mail" name="parent_mail">
            </div>
            <div>
                <label for="parent_region">Батько адреса (область):</label>
                <input type="text" id="parent_region" name="parent_region">
            </div>
            <div>
                <label for="parent_city">Батько адреса (місто, село, селище):</label>
                <input type="text" id="parent_city" name="parent_city">
            </div>
            <div>
                <label for="parent_street">Батько адреса (вулиця):</label>
                <input type="text" id="parent_street" name="parent_street">
            </div>
            <div>
                <label for="parent_building_number">Батько адреса (будинок):</label>
                <input type="text" id="parent_building_number" name="parent_building_number">
            </div>
            <div>
                <label for="parent_apartment">Батько адреса (квартира):</label>
                <input type="text" id="parent_apartment" name="parent_apartment">
            </div>
            <div>
                <label for="benefits">Наявність пільги:</label>
                <input type="text" id="benefits" name="benefits">
            </div>
            <div>
                <label for="kindergarten">ДНЗ:</label>
                <input type="text" id="kindergarten" name="kindergarten">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>