<div th:fragment="updateEducatorInGroup" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#"
          th:action="@{/educator-in-group/update/{id}(id=${educatorInGroup.id})}"
          th:object="${educatorInGroup}"
          method="post">
        <label for="name">Ім'я</label>
        <input type="text" th:field="*{name}" id="name" placeholder="name">
        <label for="surname">Прізвище</label>
        <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
        <label for="category">Категорія</label>
        <input type="text" th:field="*{category}" id="category" placeholder="category">
        <input type="submit" value="Змінити">
    </form>
</div>