<div th:fragment="menu">

    <div class="sidebar">
        <div class="sidebar_nav">
            <div><a href="/registration">Реєстрація в ДНЗ</a></div>
            <div class="sidebar_nav_horizont"></div>
            <div><a href="/registration">Електронна черга в ДНЗ</a></div>
            <div class="sidebar_nav_horizont"></div>
            <div><a href="/group/list">Керування групами</a></div>
            <div class="sidebar_nav_horizont"></div>
            <div><a href="/payment/list">Показати список платежів</a></div>
            <div class="sidebar_nav_horizont"></div>
            <div><a href="/queue">Чегра</a></div>
            <div class="sidebar_nav_horizont"></div>
            <div><a href="/info-kid-id">Данні про дитину</a></div>
            <div class="sidebar_nav_horizont"></div>
            <div><a href="/visiting">Відвідування</a></div>
            <div class="sidebar_nav_horizont"></div>
        </div>
    </div>
</div>