<div th:fragment="menu">
    <div>
        <div>МАЛЯТКО</div>
    </div>
    <div>
        <div>-------------------------------------------------</div>
        <div><a href="/registration">Реєстрація в ДНЗ</a></div>
        <div><a href="/registration">Електронна черга в ДНЗ</a></div>
        <div><a href="/group/list">Керування групами</a></div>
        <div><a href="/payment/list">Показати список платежів</a></div>
        <div><a href="/queue">Чегра</a></div>
        <div><a href="/info-kid-id">Данні про дитину</a></div>
        <div>-------------------------------------------------</div>
    </div>
</div>