<div th:fragment="menu">
    <div>
        <div>МАЛЯТКО</div>
    </div>
    <div>
        <div>-------------------------------------------------</div>
        <div><a href="/registration">Реєстрація в ДНЗ</a></div>
        <div><a href="/registration">Електронна черга в ДНЗ</a></div>
        <div><a href="/group/list">Показати список груп</a></div>
        <div><a href="/payment/list">Показати список платежів</a></div>
        <div>-------------------------------------------------</div>
    </div>
</div>