        div {
			margin: 5px;
		}

		td,
		th {
			padding: 10px;
		}

		th {
			background-color: orange;
		}

		.datetime {
			border-style: none;
		}

		table {
			border-style: solid;
			border-width: 1px;
			border-color:lightgrey;
			border-collapse: collapse;
			margin: 30px 0px;
		}